data_science_0_creation_db/subject/customer/data_2022_dec.csv
data_science_0_creation_db/subject/customer/data_2022_oct.csv
data_science_0_creation_db/subject/customer/data_2023_jan.csv
data_science_0_creation_db/subject/customer/data_2022_nov.csv
data_science_1_data_warehouse/data_2023_feb.csv

